{
  "openapi": "3.0.0",
  "info": {
    "title": "Ship360 Chat API",
    "version": "1.0.0",
    "description": "AI-powered shipping assistant API"
  },
  "servers": [
    {
      "url": "https://ship360-chat-app-all.proudfield-2684716d.eastus.azurecontainerapps.io",
      "description": "Container App URL"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service is running",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chat": {
      "post": {
        "summary": "Chat with shipping assistant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "description": "User message"
                  },
                  "thread_id": {
                    "type": "string",
                    "description": "Conversation thread ID"
                  }
                },
                "required": ["message"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "master_response": {
                      "type": "string"
                    },
                    "intent": {
                      "type": "string"
                    },
                    "thread_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/orders": {
      "get": {
        "summary": "Get sample orders",
        "responses": {
          "200": {
            "description": "List of orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}