fastapi==0.103.1
uvicorn==0.23.2
pydantic>=2.4.2
pydantic-settings>=2.0.0
python-dotenv==1.0.0
httpx==0.24.1
openai >= 1.67.0
# openapi and swagger
openapi_core >= 0.18,<0.20
python-multipart==0.0.6
semantic-kernel>=1.28.0
gunicorn==21.2.0